PORT=3000

MAILER_SERVICE=gmail
MAILER_EMAIL=gmail
MAILER_SECRET_KEY=

PROD=false

MONGO_URL=
MONGO_DB_NAME=
MONGO_USER=
MONGO_PASS=

POSTGRES_URL=
POSTGRES_USER=postgres
POSTGRES_DB=NOC
POSTGRES_PASSWORD=123456